<ion-view view-title="关于白米粥">
  <ion-content>
    <div class="card">
      <div class="item item-text-wrap">

        <p>今天是我和某瓶芬达先生在一起三周年的日子。</p>

        <p>三年前的今天，芬达先生对我说：花花，我们以后生个雪碧好不好。</p>

        <p>于是，就有了今天的白米粥。</p>

        <p>虽然，这两者之间，好像也并没有什么本质的联系。</p>
        <hr/>

        <p>你可能会问，为什么是白米粥，为什么单单是白米粥。</p>

        <p>因为 ……我喜欢呀，我任性呀！不服来咬呀！</p>
        <hr/>

        <p>每回生病的时候，都最想喝一碗白米粥。</p>

        <p>抓一把大米，除了清水，什么也不往里加，只大米与清水来一场亲密缠绵的细细熬煎，熬出来的粥是绵绵软软黏黏稠稠的，远远就能闻见米粒的清香。</p>

        <p>那种清香，是最清新又最醇厚的。</p>

        <p>趁热的时候舀起，再吹去升腾起的那股热气。小心入嘴，轻抿则化。</p>

        <p>等完全咽下后，嘴里还剩下一丝甘甜。</p>
        <hr/>

        <p>小时候爱好甜食，喝粥是一定要加一大勺白糖的。拌入白糖的白米粥，便多了几分甜腻的味道。</p>

        <p>不知道从何时起，就变得不爱加糖了。反而觉得，回味白米粥本身的甘甜，才是最甜的味道。如果可以，加上咸鸭蛋或榨菜，就更诱人了。白米粥的清淡正好冲淡鸭蛋或榨菜的咸味，生病时候弱化了的味蕾，突然也就来了精神。</p>
        <hr/>

        <p>上大学时到了北方，这儿的人更偏爱小米粥，即便有卖大米粥，也是五颜六色五花八门，从八宝粥南瓜粥黑米粥到其他粥。</p>

        <p>于是更加想念那一碗白米粥，什么也不加的白米粥。</p>

        <p>因为无论什么粥，也没有刚刚熬出来的那一碗白米粥来得清香。</p>

        <p>毕竟，最清淡的味道，才是最本真的味道。</p>

        <p>人间有味是清欢。</p>
        <hr/>

        <p>这个世界本身也并不需要那么多刺激味蕾的重口味，不需要太多强烈的感情和热烈的色彩，不需要任何极端和歇斯底里。</p>

        <p>我喜欢什么都是淡淡的，淡淡的感情，淡淡的天气，淡淡的味道，和淡淡的你。</p>

        <p>我希望来到这里的每一个人，都有着淡淡的心情，有闲闲的时日，细细尝尝白米粥的味儿。</p>

        <p>我欢迎你来，也不介意你走。你走，我不送你；你来，无论多大风多大雨，我要去接你。</p>

        <p>因为我也不知道，我什么时候会有淡淡的心情，坐下来写一些淡淡的文字。</p>

        <p>如果你不介意的话，就坐下来喝完这碗白米粥吧。</p>
        <hr/>
      </div>
    </div>
  </ion-content>
</ion-view>
